<div class="container ">
    <div class="row mt-5 d-flex justify-content-center">
        <div class="col-10">
            <form>
                <div class="form-group">
                  <label for="textLastName">Filter By Last Name</label>
                  <input type="text" (ngModelChange)="applyFilter($event)"  class="form-control" [(ngModel)]="filterValue" [ngModelOptions]="{standalone: true}" id="textLastName" autocomplete="off"  placeholder="Type Last Name">
                </div>
              </form>
        </div>
        <div class="col-2 pt-4">
            <button class="btn btn-primary"   (click)="addCostumer()" >
                <div><fa-icon [icon]="faAdd"></fa-icon></div>
            </button>
        </div>
    </div>
    <div class="row mt-2 d-flex justify-content-start">
      <div class="col-8">
        <select class="form-select"  [(ngModel)]="selectedSort" (ngModelChange)="onChange($event)">
          <option value="1">Order by First name ASC</option>
          <option value="2">Order by First name DESC</option>
          <option value="3">Order by Last name ASC</option>
          <option value="4">Order by Last name DESC</option>
          <option value="5">Order by Status ASC</option>
          <option value="6">Order by Status DESC</option>
        </select>
      </div>

    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div  *ngFor="let costumer of costumersDataSource  | paginate: { itemsPerPage: 6, currentPage: page }" class="col">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{getFullName(costumer)}}</h5>
                  <div class="card-text row">
                    <div class="col">Phone</div>
                    <div class="col"><p class="text-left">{{costumer.phone}}</p></div>
                  </div>
                  <div class="card-text row">
                    <div class="col">Email</div>
                    <div class="col"><p class="text-left">{{costumer.email}}</p></div>
                  </div>
                  <div class="card-text row">
                    <div class="col">Status</div>
                    <div class="col"><p class="text-left">{{costumer.status}}</p></div>
                  </div>
                </div>
                <div class="card-footer  d-flex justify-content-around">
                    <button class="btn btn-primary">
                        <div><fa-icon [icon]="faEdit"></fa-icon></div>
                    </button>
                    <button class="btn btn-danger">
                        <div><fa-icon [icon]="faTrash"></fa-icon></div>
                    </button>
                
                </div>
              </div>
        </div>
    </div>
    
</div>
<div class="container d-flex justify-content-center mt-5" style="height: 50px;">
    <pagination-controls  (pageChange)="page = $event"></pagination-controls>    
</div>

